<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sam.ass_03" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.sam.ass_03.Startup"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sam.ass_03.Temperature"
            android:label="@string/tempTitle"
            android:parentActivityName="com.example.sam.ass_03.Startup" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sam.ass_03.Startup" />
        </activity>
        <activity
            android:name="com.example.sam.ass_03.Height"
            android:label="@string/heightTitle"
            android:parentActivityName="com.example.sam.ass_03.Startup" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sam.ass_03.Startup" />
        </activity>
    </application>

</manifest>